!!!
%html
  %head
    %title WoW
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body

    - if notice
      .notice( data-alert )
        = notice
        %a.close{ href: '#' } &times;
    - if alert
      .alert( data-alert )
        = alert
        %a.close{ href: '#' } &times;

    = yield
    